.skills__container {
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem; 
    justify-content: center;
    margin-top: var(--mb-2);
   
}
.skills__section{
    text-align: center;
    align-items: center ;
    column-gap: 4rem;
    grid-template-columns: repeat(2,1fr);
    height: 100%; /* Ajusta la altura según tus necesidades */
  padding: 25px;
  margin-bottom: var(--mb-2);
 
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgb(0, 0, 0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-align: center;
    
}
.skills__data{
    display: flex;
    column-gap: 0.5rem;
}
   
.skills__box{
    display:flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills__group {
    display: grid;
    text-align: center;
    row-gap: 1rem;
    align-items: flex-start;
}

.title__skills{
    margin-bottom: var(--mb-1);
}

.skills__name{
    font-size: var(--normal-font-size);
   font-weight: var(--font-medium);
   line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);
}




@media screen and (max-width: 992px) {
   .skills__container{
    grid-template-columns: max-content;
    row-gap: 2rem;
   }
}



@media screen and (max-width: 576px) {
   .skills__container{
    grid-template-columns: 1fr;
   }
   .skills__content{
    padding: 1.5rem;
   }
}

@media screen and (max-width: 350px) {
  .skills__box{
    column-gap: 1.25rem;
  }
  .skills__name{
    font-size: var(--small-font-size);
  }
    }
